@media only screen and (max-width:768px){
    .navbar__nav.fa-bars{
        display: inline;
    }
    .navbar__nav a{
        display: none;
    }
    .header{
        width: 100%;
    }
    .banner, .about__content, .second__content, .testimonial__content, .contact__content{
        grid-template-columns: 1fr;
    }
    .banner h1{
        margin-top: 1rem;
        font-size: 2rem;
    }
    .footer__content{
        grid-template-columns: repeat(2,1fr);
    }
}