        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Lora:ital@1&family=Montserrat:ital,wght@1,300;1,400&family=Raleway:ital@1&family=Roboto:ital@1&display=swap');



        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-transform: capitalize;
        text-decoration: none;
        font-family: var(--lato);
        }

        :root{
            --lato: 'Lato', sans-serif;
            --lora: 'Lora', serif;
            --monster: 'Montserrat', sans-serif;
            --roleway: 'Raleway', sans-serif;
            --roboto: 'Roboto', sans-serif;  
        }

        body{
            line-height: 1.5;
        }
        .container{
            max-width: 90%;
            margin: 0 auto;
        }
        p{
            font-family: var(--lato);
        }
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
        .navigation{
            background-color: #e9c012;
            width: 100%;
            height: 8vh;
        }
        .navbar{
            height: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav__logo a{
            font-size: 2.2rem;
            color: #fff;
            font-family: var(--lora);
            letter-spacing: 1px;
            transition: all 0.5s ease;
        }
        .navbar__nav a{
            font-size: 1.2rem;
            font-family: var(--monster);
            margin-left: 15px;
            margin-right: 15px;
            color: #fff;
            font-weight: 900;
            transition: all 0.5s linear;
            
        }
        .nav__logo a:hover{
            text-decoration: line-through;
            color: #000000;
        }
        .navbar__nav a:hover{
            color: #000000;
        }
        .header{
            width: 100%;
            height: 90vh;
            background-color: #e9c012;
        }
        .banner{
            display: grid;
            grid-template-columns: 40% 60%;
            gap: 2rem;
            align-items: center;
        }
        .banner h1{
            font-size: 2rem;
            color: #fff;
            font-family: var(--monster);
            animation: 1s h1 linear infinite;
        }
        @keyframes h1{
            0%,100%{
              opacity: 0; 
              
            }
            50%{
                opacity: 1;
                
            }
        }
        .banner p{
            color: #fff;
            font-family: var(--monster);
        }
        .banner button{
            padding: 7px 20px;
            margin-top: 1rem;
            font-size: 1.3rem;
            border: 0;
            border-radius: 50px;
            transition: all 0.5s ease;
            position: relative;
            overflow: hidden;
            z-index: 999;

        }
        .banner button:hover{
            box-shadow: 0 0 20px black;
            color: #fff;
        }
        .banner button::after{
            content: "";
            position: absolute;
            width: 0%;
            height: 100%;
            background-color: red;
            left: 0;
            top: 0;
            transition: all 0.5s ease;
            z-index: -1;
        }
        .banner button:hover:after{
        width: 100%;
        }
        .hero{
            width: 100%;
            height: 30vh;
            background-image: url(/img/hero-bg.png);
            background-repeat: no-repeat;
            background-size: 100% 95%;
        }
        .about{
            width: 100%;
            padding: 4rem 0;
        }
        .about__content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
            align-items: center;
        }
        .about .item{
            text-align: right
        }
        .about.item h2{
            font-family: var(--lora);
            font-size: 2rem;
        }
        button{
            padding: 7px 20px;
            margin-top: 1rem;
            font-size: 1.3rem;
            border: 0   ;
            border-radius: 50px;
            transition: all 0.5s ease;
            position: relative;
            overflow: hidden;
            z-index: 999;
        }
            button:hover::after{
            content: "";
            position: absolute;
            width: 0%;
            height: 100%;
            background-color: red;
            left: 0;
            top: 0;
            transition: all 0.5s ease;
            z-index: -1;
        }
        button:hover::after{
            width: 100%;
        }
        button:hover{
            transition: all 0.5s ease;
            color: #fff;
        }
        .second__content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
            align-items: center;
            text-align: left;
        }
        .second__content .item{
            text-align: left;
        }
        .second__content.item h2{
            font-family: var(--lora);
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        .testimonial{
            width: 100%;
            padding: 4rem 0;
        }
        .testimonial .title h2{
            text-align: center;
            font-size: 2rem;
            font-family: var(--lora);
            align-items: center;
        }
        .testimonial__content{
            display: grid;
            grid-template-columns: 20% 80%;
            gap: 2rem;
            align-items: center;
        }
        .testimonial__content .item h2{
            font-family: var(--roboto);
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        .contact{
            width: 100%;
            padding: 4rem 0;
        }
        .contact__content{
            display: grid;
            grid-template-columns: 60% 40%;
            gap: 2rem;
            align-items: center;
        }
        .contact__content form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .contact__content form input{
            height: 7vh;
            font-size: 1.3rem;
            text-indent: 10px;
            font-family: var(--roboto);
            border: none;
            outline: none;
            border-bottom: 1px solid black;

        }
        .footer{
            width: 100%;
            padding: 4rem 0;
            background-color: #2b2b2b;
            margin: 0 auto;

        }
        .footer .title {
            text-align: center;
            
        }
        .footer .title h2{
             font-size: 2rem;
            color: white;
            font-family: var(--monster);
            display: inline;
            border-bottom: 1px solid rgb(231, 231, 0);
            margin-bottom: 2rem;
        }
        /* .footer .title{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 2rem;
        } */
        .footer__content{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 2rem;
            margin-bottom: 3rem;
        }
        .footer__content .item{
            color: #fff;
        }
        .footer__content .item h2{
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        .footer__content .item form{
            display: flex;
            flex-direction: column;
        }
        .footer__content .item form input{
            font-size: 1.2rem;
            height: 6vh;
            text-indent: 10px;
        }
        .footer__content .item form button{
            border-radius: 0;
            width: 80%;
        }
        .social{
            width: 80%;
            margin: 0 auto;
            border-top: 1px solid #e6ff06;
            padding: 2rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
            
        }
        .social .fa-brands{
            font-size: 1.6rem;
            background-color: #fff;
            padding: 10px 15px;
            border-radius: 100%; 
            transition: all 0.5s ease;
        }
        .social .fa-brands:hover{
            background-color: #2b2b2b;
            color: #fff;
        }
        .copyright{
            width: 100%;
            padding: 1rem;
            background-color: #e6bc05;
            text-align: center;
            font-size: 1.2rem;
            color: #000000;
        }
        .navbar__nav .fa-bars{
            color: white;
            font-size: 1.5rem;
            display: none;
        }
        .social .fa-instagram:hover{
            color: rgb(255, 0, 0);
            transform: rotate(360deg);
        }
        .social .fa-facebook-f:hover{
            color: blue;
            transform: rotate(360deg);
        }
        .social .fa-twitter:hover{
            color: blue;
            transform: rotate(360deg);
        }
        .social .fa-telegram:hover{
            color: rgb(48, 48, 192);
            transform: rotate(360deg);
        }
        .social .fa-facebook:hover{
            color: blue;
            transform: rotate(360deg);

        }